// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: linear-gradient(-45deg, rgba(229,93,135,.7), rgba(95,195,228,.7)),url(https://goo.gl/LqKys6) center center / cover no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.loginPage {
  margin: auto;

  &_contents {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &_title {
      margin-top: 12vh;
      color: #fff;
      font-size: 3vw;
    }

    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin: 0 auto;
      border-radius: 30px;
      background: #fd5068;
      color: #fff;
    }
  }
}
